S3method("[",dist.vector)
S3method("block.names<-",dist.block.matrix)
S3method("block.names<-",dist.data.frame)
S3method("block.names<-",dist.vector)
S3method(block.names,dist.block.matrix)
S3method(block.names,dist.data.frame)
S3method(block.names,dist.vector)
S3method(block.names,local.block.vector)
S3method(con,dist.block.matrix)
S3method(con,dist.data.frame)
S3method(con,dist.vector)
S3method(con,local.block.vector)
S3method(dim,block.data.frame)
S3method(dim,block.matrix)
S3method(dim,dist.block.matrix)
S3method(dimnames,block.data.frame)
S3method(ibdf,block.data.frame)
S3method(ibv,block.vector)
S3method(ibv,local.block.vector)
S3method(length,block.vector)
S3method(length,dist.vector)
S3method(length,local.block.vector)
S3method(pull,character)
S3method(pull,worker)
S3method(push,character)
S3method(push,worker)
S3method(recv,clusterChannel)
S3method(recv,localChannel)
S3method(recv,zmqChannel)
S3method(send,zmqChannel)
S3method(start,dist.worker)
S3method(typeof,block.data.frame)
S3method(typeof,block.matrix)
S3method(typeof,block.vector)
S3method(typeof,default)
S3method(typeof,dist.block.matrix)
S3method(typeof,dist.vector)
S3method(typeof,local.block.vector)
export("block.names<-")
export(addPop)
export(bdf2dvClass)
export(block.names)
export(blockSubstitute)
export(bv2bvClass)
export(class.dist.vector)
export(cluster.read)
export(cluster.write)
export(clusterChannel)
export(con)
export(dist.block.matrix)
export(dist.data.frame)
export(dist.vector)
export(distribute.data.frame)
export(distribute.vector)
export(empty)
export(ibdf)
export(ibv)
export(inet.addr)
export(list2lddf)
export(local.block.vector)
export(localChannel)
export(makeRAQ)
export(nextRAQMessage)
export(popKeys)
export(pull)
export(pullApply)
export(push)
export(pushApply)
export(recv)
export(remPop)
export(run.dist.worker)
export(send)
export(service)
export(serviceAll)
export(typeof)
export(worker)
export(zmqChannel)
exportClasses(block.data.frame)
exportClasses(block.data.structure)
exportClasses(block.matrix)
exportClasses(block.vector)
exportClasses(dist.block.matrix)
exportClasses(dist.data.frame)
exportClasses(dist.vector)
exportClasses(local.block.vector)
exportMethods("$")
exportMethods("<")
exportMethods("<=")
exportMethods("==")
exportMethods(">")
exportMethods(">=")
exportMethods("[")
useDynLib(cnidaria)
