export(addPop)
export("block.names<-")
export(block.names)
export("block.names<-.dist.block.matrix")
export(block.names.dist.block.matrix)
export("block.names<-.dist.data.frame")
export(block.names.dist.data.frame)
export("block.names<-.dist.vector")
export(block.names.dist.vector)
export(block.names.local.block.vector)
export(blockSubstitute)
export(bv2bvClass)
export(class.dist.vector)
exportClasses(block.data.frame)
exportClasses(block.data.structure)
exportClasses(block.matrix)
exportClasses(block.vector)
exportClasses(dist.block.matrix)
exportClasses(dist.data.frame)
exportClasses(dist.vector)
exportClasses(local.block.vector)
export(clusterChannel)
export(cluster.read)
export(cluster.write)
export(con)
export(con.dist.block.matrix)
export(con.dist.data.frame)
export(con.dist.vector)
export(con.local.block.vector)
export(dim.block.data.frame)
export(dim.block.matrix)
export(dim.dist.block.matrix)
export(dimnames.block.data.frame)
export(dist.block.matrix)
export(dist.data.frame)
export(distribute.data.frame)
export(distribute.vector)
export("[.dist.vector")
export(dist.vector)
export(empty)
export(ibdf)
export(ibdf.block.data.frame)
export(ibv)
export(ibv.block.vector)
export(ibv.local.block.vector)
export(length.block.vector)
export(length.dist.vector)
export(length.local.block.vector)
export(list2lddf)
export(local.block.vector)
export(localChannel)
export(makeRAQ)
exportMethods("<=")
exportMethods("<")
exportMethods("==")
exportMethods(">=")
exportMethods(">")
exportMethods("[")
exportMethods("$")
exportMethods(bdf2dvClass)
export(nextRAQMessage)
export(popKeys)
export(pull)
export(pullApply)
export(pull.character)
export(pull.worker)
export(push)
export(pushApply)
export(push.character)
export(push.worker)
export(recv)
export(recv.clusterChannel)
export(recv.localChannel)
export(recv.zmqChannel)
export(remPop)
export(run.dist.worker)
export(send)
export(send.zmqChannel)
export(service)
export(serviceAll)
export(start.dist.worker)
export(typeof)
export(typeof.block.data.frame)
export(typeof.block.matrix)
export(typeof.block.vector)
export(typeof.default)
export(typeof.dist.block.matrix)
export(typeof.dist.vector)
export(typeof.local.block.vector)
export(worker)
export(zmqChannel)
useDynLib(cnidaria)
